*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter';
}

.logoapartado{
    width: 10%;
    position: absolute;
    top: 86%;
    right: 45%;
}



.Apartado{
    padding: 10px 0;
    width: 60%;
    max-width: 900px;
    margin: 50px;
    overflow: hidden;
}
.titulo{
    color: #87e7c2;
    font-size: 24px;
    position: absolute;
    left: 55%;
    top: 65%;

}
header{
    width: 100%;
    height: 500px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(157, 64%, 89%, 0.788), hsla(30, 14%, 91%, 0.822)),url(../imagene/alegra.png);
}

.wave{
    width: 110%;
    height: 500px;
}

.texto-cuerpo{
    width: 43%;
    position: absolute;
    top: 75%;
    left: 56%;
    font-size: 165%;
    line-height: 170%;
    color: #3D3A39;
}

.puntos1{
    width: 70%;
    position: absolute;
    top: 100%;
    left: 56%;
    font-size: 140%;
    display: inline-block;
    line-height: 170%;
    letter-spacing: 120%;
    color: #3D3A39;
}
